<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.izayoirinn.mapper.KillOrderInfoMapper">

    <resultMap id="BaseResultMap" type="top.izayoirinn.domain.KillOrderInfo">
        <id property="killOrderId" column="kill_order_id" jdbcType="INTEGER"/>
        <result property="userId" column="user_id" jdbcType="INTEGER"/>
        <result property="killId" column="kill_id" jdbcType="INTEGER"/>
        <result property="orderId" column="order_id" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        kill_order_id
        ,user_id,kill_id,
        order_id
    </sql>

    <select id="getKillIdByOrderId" resultType="int">
        select kill_id
        from kill_order_info
        where order_id = #{orderId};
    </select>
    <!--查询用户的秒杀订单信息,除去关闭的订单信息-->
    <select id="listKillOrderInfoByUserIdAndKillId" resultType="top.izayoirinn.domain.KillOrderInfo">
        SELECT ko.*
        FROM order_info o
                 LEFT JOIN kill_order_info ko ON o.order_id = ko.order_id
        WHERE ko.user_id = #{userId}
          AND kill_id = #{killId}
          AND o.order_status !=- 1
    </select>
</mapper>
